.special{
    background: url('../../assets/images/fish.png');
    background-size:cover;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 10px;
}

.special .countdown-container{
    padding-top: 4.375rem;
    padding-bottom:4.375rem ;
}

.special .countdown-container h2{
    color: white;
}

.special .countdown-container p{
    color:white;
    font-weight: bold;
    line-height: 2.875rem;
    text-indent: 5px;
    font-family: "Georgia";
}

.special .countdown-container .countdown-counter{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1.875rem;
}

.special .countdown-container .countdown-counter li{
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    background: aliceblue;
    border-radius: 0.313rem;
    padding: 2rem 1rem;
    width: 15%;
    margin: 0 0.313rem;
}

.special .countdown-container button{
    color: black;
    background-color:darkseagreen;
    border: none;
    padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}