.page-404{
    padding: 40px 0;
    background: white;
    font-family: 'Poppins';
}

.page-404 img{
    width: 100%;
}

.four-zero-four-bg{
    background:url('../../assets/images/error-image.gif') ;
    height: 400px;
    background-position: center;
    margin-left: 15rem;
}

.four-zero-four-bg h1{
    font-size: 60px;
}
.content-box-404 h3{
    font-size: 50px;
    margin-left: 15rem;
}

.content-box-404 a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background: forestgreen;
    display: inline-block;
    margin-left: 10rem;
}

.content-box-404 p{
    margin-left: 18rem;
}
