.top-banner  {
    width: 100%;
    height: auto;
    background-image: url('../../../../assets/images/banner1.png');
    background-size: cover;
    padding: 16.675rem 0 9.375rem;
  }

  .top-banner1  {
    width: 100%;
    height: auto;
    background-image: url('../../../../assets/images/banner1.png');
    background-size: cover;
    padding: 16.675rem 0 9.375rem;
  }

 

  

 




  /*.Carousel-section{
    width: 100%;
    height: 28.125rem;
    background: url('../assets/images/banner2.jpg') no-repeat center;
    background-size: cover;
    padding-top: 100px;
    text-align:end;
}*/
