.header .navbar-brand {
  font-size: 24px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header img {
  height: 70px;
  width: 70px;
  margin-right: 0px !important;

}

.header h3{
  color: black;
    font-family: "Times New Roman", Times, serif;
   font-weight: bold;
  }


.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    color: black;
    font-family: "Times New Roman", Times, serif;
   font-weight: bold;

  }
  .navbar-nav li a{
    color: black;
    font-weight: bold;
  }
  .navbar-nav li a:hover{
    color: green;
  }
 
.navbar-nav  div{
    padding-left:30px;
    padding-right:30px;
    margin-right: 0px !important;
  }
  
  .header .icons  {
    color:black;
  }