.card-carousel-row{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.card-carousel .CardCarousel-row r-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    width: 50%;
}

