 .Card .container {
    padding-right: 30px;
}

.category-title a{
    color:orange;
}


.category-title h3{
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bolder;
}

.category-button button{
    background-color:grey;
    border-radius: 1rem;
}




