.CardList column{
  display: flex;
  align-items: center;
  justify-content: center;

}

.CardList .column .vertical-image img{
  width: 50vh;
  margin-left: 7rem;
 
}

.CardList .column .box-container{
  display: flex;
  align-items:center;
  justify-content:left;

}

.CardList .column  .box-container .box card{
  flex-direction: row;
  max-width: 20rem;
  border: 0;
  background-color:white;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18)
}

.card1-title{
  display: flex;
  flex-direction: row;
  color: black;
}

.box-container .box img{
  width: 100%;
   height: 4rem;
   object-fit:contain;
   object-position:2rem;
}

.CardList .box-container{
  padding: 10px 40px;
}

