.CardList column{
  display: flex;
  align-items: center;
  justify-content: center;

}

.CardList .column .vertical-image img{
  width: 50vh;
  margin-left: 7rem;
 
}

.CardList .column .box-container{
  display: flex;
  align-items:center;
  justify-content:left;

}

.CardList .column  .box-container .box card{
  flex-direction: row;
  max-width: 30rem;
  border: 0;
  background-color:white;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  padding-top: 10rem;
}

.box-container .box img{
  width:30%;
   margin: auto;
   padding: 0.5em;
   border-radius: 0.7em;
   background-color: whitesmoke;
}

.CardList .box-container{
  padding: 10px 40px;
}

.category-star a{
  margin-left: 0.5rem;
}

.cardList-title h3{
  font-size: 20px;
  margin-left: 0.5rem;
}

.cardList-discount h3{
  font-size: 18px;
  color: darkgrey;
  margin-left: 0.5rem;

}

.cardList-price h3{
  font-size: 18px;
  color: black;

}

