.link-card-team img{
    height: 20rem; 
}

.member-position h6{
    color: green;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}
  h5{
    font-family: "Times New Roman",Times, serif;
    font-size: 15px;
    margin-top: 2rem;
}

.member-position a{
    color: black;
}
