.link-card-team img{
    width: 100%;
    height: auto;
}

.member-position h6{
    color:forestgreen;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
}
h5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    padding-bottom: 1.5rem;
}

.card-icons a{
    color: black;
    margin-right: 2rem;
}
