.contact-form img{
    width: 70px;
    height: 40px;
}

.contact-form{
        background-color: white;
        padding: 10px 10px;
        margin-left: 5rem;
        padding-top: 2rem;
        box-shadow: 1px 2px 11px 4px rgb(14 55 54/ 15%);
    }
.contact-form input{
    background-color: whitesmoke;
}

.contact-form h3{
    color:forestgreen;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.contact-form label {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
.checkout-container span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.checkout-container button{
    color:white;
    background-color: forestgreen;
    border-color: forestgreen;
    margin-left: 4rem;
    padding: 1rem 1rem;
    width: 15rem;
    text-transform: uppercase;
    font-weight: 700;
    
}