

.provide-container{
    display: flex;
    grid-template-columns: repeat(auto,minmax(240px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.heading{
    font-family: oswald;
    font-weight: bold;

}
.p-box{
    text-align: center;
    border-radius: 10px;
    background-color:white;
    border-color: black;
    margin-right: 10rem 4rem;
}
.p-box img{
    height: 100px;
    width: 100px;
    margin-top: 1rem;
    margin-left: 2rem 2rem;
}
.p-box h3{
    margin: 4px 0 10px;
    margin-top: 1rem;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
}
.p-box p{
    margin-bottom: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1rem ;
    margin-right: 1rem ;
    font-size: 16px;
}