
.footer_wrapper{
    background-color:black;
    padding: 25px 0;
    
}
.footer_wrapper img {
    height: 50px;
    width: 50px;
}
.footer_wrapper h1{
    color:orange;
    font-size: 30px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 

.footer_wrapper h2{
    color:orange;
    font-size: 25px;
    font-weight: 600;
    padding-top: 3rem;
    margin-left: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 

.footer_wrapper p{
    padding-top: 1rem;
    line-height: 1.9;
    color: whitesmoke;
} 

.single-box .contact-info ul li a{
    text-decoration: none;
    color: whitesmoke;
    line-height: 2.5;
    font-weight: 100;
}

.single-box .contact-info ul li a{
    text-decoration: none;
    color: whitesmoke;
    line-height: 2.5;
    font-weight: 100;
}
.single li a{
    text-decoration: none;
    color: whitesmoke;
    line-height: 2.5;
    font-weight: 100;
    margin-left: 3rem;
}

.single-box .social-icons a{
    color: whitesmoke;
    font-size: 15px;
    margin-right: 1rem;
}

.footer_wrapper  h3{
    color: orange;
    font-size: 25px;
    padding-top: 2rem;
    margin-left: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.footer_wrapper  h4{
    color: whitesmoke;
    font-size: 25px;
    padding-top: 2rem;
    margin-left: 3rem;
}
.copyright-section a{
    color: beige;
}

.single .card-section a{
    color: whitesmoke;
    font-size: 15px;
    margin-left: 2rem;
}